@import "tailwindcss";

:root {
    --font-display: "Lato", sans-serif;
    --font-sans: "Inter", sans-serif;
}

.font-display {
    font-family: var(--font-display);
}

.font-sans {
    font-family: var(--font-sans);
}

html {
    scroll-behavior: smooth;
}

body {
    @apply font-sans antialiased bg-white text-zinc-900;
}